# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
env/

# Git
.git
.gitignore

# IDE
.vscode/
.idea/

# Environment variables
.env

# Logs
*.log

# Database
db.sqlite3

# Media/cache
media/
staticfiles/

# Docker
Dockerfile
docker-compose.yml

# Tests
.pytest_cache/

# OS
.DS_Store
Thumbs.db